<div class="grid grid-cols-[1fr_auto] w-full h-svh">
    <div class="w-full h-svh p-4 overflow-auto">
        <span class="flex items-end flex-wrap">
            <h1 class="text-gray-200 text-3xl">Karten</h1>
            <i class="ml-4 text-gray-400">durch anklicken wählen. Anzahl der Karten (z.B. Werwölfe, Dorfbewohner) wird nicht benötigt</i>
        </span>
        @for (role of Roles; track $index) {
        <h1 class="text-gray-200 text-xl mt-4 mb-2">{{role.Name}}</h1>
        <div class="flex flex-wrap gap-4">
            @for (card of role.Cards; track $index) {
            <app-card [Card]="card" (SelectionChanged)="HandleSelectionStateChange(card, $event)"></app-card>
            }
        </div>
        }
    </div>
    <div class="w-[30rem] pt-4 bg-gray-700 grid grid-rows-[auto_auto_1fr_auto_auto] gap-4 h-svh overflow-hidden">
        <app-spotify-widget></app-spotify-widget>
        <div>
            <h1 class="text-gray-200 text-2xl ml-4">Spieler</h1>
            <div class="px-4 pt-2 flex flex-col gap-2">
                <label class="text-gray-200" for="PeopleCount">Anzahl Spieler</label>
                <input class="rounded-md py-3 px-6 text-gray-100 bg-gray-500" id="PeopleCount" type="number" min="1" max="20" [ngModel]="PeopleCount" (ngModelChange)="HandlePeopleCountChanged($event)">
            </div>
        </div>
        <div>
            <!-- TODO: Presets -->
        </div>
        <button class="btn text-gray-100 bg-gray-500 mx-4" (click)="StartGame()">Spiel starten</button>
    </div>
</div>