@reference "../../../styles.css";

.fade-out {
    mask-image: linear-gradient( to right, #000, #000 calc(100% - 80px), transparent calc(100% - 20px));
}

.spin-animation {
    @apply animate-spin;
    --tw-duration: 2s;
    transition-duration: 2s;
}