<div class="bg-zinc-800 text-zinc-200 shadow-lg fixed top-0 w-full">
    <div class="max-w-(--breakpoint-md) flex mx-auto items-center">
        <a class="p-8" routerLink="/">
            <lucide-angular name="arrow-left" />
        </a>
        <h1 i18n="@@setup-title" class="text-2xl">Vorbereitung</h1>
    </div>
</div>
<div class="grid grid-cols-3 mx-auto max-w-(--breakpoint-md) pt-32 px-6 text-zinc-200 gap-4">
    <h2 class="text-xl max-md:col-span-3">Spotify</h2>
    <i class="col-span-3 md:col-span-1 md:row-start-2 text-zinc-500 text-sm">Verbinde Spotify um etwas ambiente in die Runde zu bringen</i>
    <div class="col-span-2 row-span-2 bg-red-200">
        <app-spotify-widget></app-spotify-widget>
    </div>
</div>

<!-- <div class="grid grid-cols-[1fr_auto] w-full h-svh">
    <div class="w-full h-svh p-4 overflow-auto max-lg:hidden">
        <span class="flex items-end flex-wrap">
            <h1 class="text-zinc-200 text-3xl" i18n="@@setup-cards">Karten</h1>
            <i class="ml-4 text-zinc-400" i18n="@@setup-description-click-to-select">durch anklicken wählen. Anzahl der Karten (z.B. Werwölfe, Dorfbewohner) wird nicht benötigt</i>
        </span>
        @for (role of Roles; track $index) {
        <h1 class="text-zinc-200 text-xl mt-4 mb-2">{{role.Name}}</h1>
        <div class="flex flex-wrap gap-4">
            @for (card of role.Cards; track $index) {
            <app-card [Card]="card" (SelectionChanged)="HandleSelectionStateChange(card, $event)"></app-card>
            }
        </div>
        }
    </div>
    <div class="lg:w-[30rem] pt-4 bg-zinc-700 grid grid-rows-[auto_auto_1fr_auto_auto] gap-4 h-svh overflow-hidden">
        <app-spotify-widget></app-spotify-widget>
        <div>
            <h1 class="text-zinc-200 text-2xl ml-4" i18n="@@setup-players">Spieler</h1>
            <div class="px-4 pt-2 flex flex-col gap-2">
                <label class="text-zinc-200" for="PeopleCount" i18n="@@setup-nr-of-players">Anzahl Spieler</label>
                <input class="rounded-md py-3 px-6 text-zinc-100 bg-zinc-500" id="PeopleCount" type="number" min="1" max="20" [ngModel]="PeopleCount" (ngModelChange)="HandlePeopleCountChanged($event)">
            </div>
            <div class="lg:hidden px-4 pt-2 flex flex-col gap-2">
                <label class="text-zinc-200" for="Cards">Karten</label>
                <a class="rounded-md py-3 px-6 text-zinc-100 bg-zinc-500 grid-cols-[1fr_auto] grid-rows-[auto_1fr] grid gap-2" id="Cards" routerLink="/setup/cards">
                    <p class="col-start-1" i18n="@@cards-cards-selected">{{GetSelectedCards().length}} Karten ausgewählt</p>
                    <p class="row-span-2 col-start-2 self-center">→</p>
                    <span class="col-start-1 row-span-2 grid overflow-hidden fade-out">
                        @for (card of GetSelectedCards(); track $index) {
                        <div class="col-start-1 row-start-1 bg-neutral-900 p-1 w-14 h-14 rounded-md shadow-md" [style]="{'transform': 'translateX(' + $index * 1.5 + 'rem)', 'z-index': 100-$index}">
                            <img width="48px" height="48px" [src]="'assets/icons/' + card.Character.Id + '.png'" [alt]="card.Character.Id | i18nSelect: NAME_TRANSLATIONS">
                        </div>
                        }
                    </span>
                </a>
            </div>
        </div>
        <div>
        </div>
        <button class="btn text-zinc-100 bg-zinc-500 mx-4" (click)="StartGame()" i18n="@@setup-start-game">Spiel starten</button>
    </div>
</div> -->