<!-- Ring -->
<svg viewBox="0 0 2000 2000" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xml:space="preserve" xmlns:serif="http://www.serif.com/" style="fill-rule:evenodd;clip-rule:evenodd;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:1.5;" class="max-w-svw max-h-dvh mx-auto col-start-1 row-start-1">
    <circle cx="1000" cy="1000" r="700" style="fill:none;stroke:rgb(141,141,141);stroke-width:5.28px;stroke-dasharray:26.39,26.39,0,0,0,0;" />
</svg>
@if (IsEditMode()) {
<app-edit-circle [People]="People()" (PeopleChange)="onPeopleChanged($event)" />
}@else {
<app-people-circle [People]="People()" [Connections]="Connections()" (PersonClick)="onPersonClicked($event)" />
}