<div class="grid grid-cols-[1fr_auto] w-full h-svh">
    <div class="w-full h-svh p-20">
        <app-circle [People]="state.People" [Connections]="state.Connections" (PersonClick)="HandlePersonClicked($event)"></app-circle>
    </div>
    <div class="w-[30rem] py-4 bg-gray-700 grid grid-rows-[auto_auto_auto_1fr_auto] h-svh overflow-hidden gap-2">
        @if (spotify.IsAuthenticated) {
        <app-spotify-widget mode="narrator"></app-spotify-widget>
        <hr class="mx-4 bg-slate-500 h-px border-none">
        }@else {
        <span></span>
        <span></span>
        }
        <h1 class="text-gray-200 text-2xl ml-4">Ereignisse</h1>
        <div class="overflow-auto flex flex-col-reverse fade-out pb-2">
            <div class="flex flex-col-reverse gap-2 pt-20">
                @for (action of state.Actions; track $index; let actionIndex = $index) {
                <div class="mx-4 p-4 rounded-2xl md-shadow-sm" [class.bg-gray-500]="actionIndex === 0" [class.bg-gray-600]="actionIndex !== 0">
                    <div class="grid grid-cols-[1fr_auto] gap-2">
                        <div>
                            <h1 class="text-xl" [class.text-gray-100]="actionIndex === 0" [class.text-gray-400]="actionIndex !== 0">{{action.Name}}</h1>
                            <ul>
                                @for (point of GetFilteredPoints(action); track $index) {
                                <li class="list-disc ml-4" [class.text-gray-200]="actionIndex === 0" [class.text-gray-400]="actionIndex !== 0">{{point}}</li>
                                }
                            </ul>
                        </div>
                        <img [src]="'/assets/icons/' + action.Image + '.png'" class="w-16 h-16 rounded-md md-shadow-md" [alt]="action.Name">
                    </div>
                    @if (actionIndex === 0 && GetFilteredButtons(action).length > 0) {
                    <div class="flex flex-col gap-2 mt-4">
                        @for (button of GetFilteredButtons(action); track $index) {
                        <button class="btn bg-gray-600 w-full" (click)="HandleAction(button.Action)">{{button.Title}}</button>
                        }
                    </div>
                    }
                </div>
                }
            </div>
        </div>
        <span class="grid grid-cols-3 mx-4 gap-2">
            @if (state.ActionHistory.length > 0) {
            <button class="btn bg-gray-500 block" (click)="state.PreviousAction();">← Zurück</button>
            }
            <button class="btn bg-gray-500 block col-span-2" [class.col-span-3]="state.ActionHistory.length === 0" (click)="OnNext()">Weiter →</button>
        </span>
    </div>
</div>