@reference "../../../../styles.css";

:host {
    @apply col-start-1 row-start-1;
}

text {
    font-family: 'ArialMT', 'Arial', sans-serif;
    font-size: 66.667px;
}

.\!fill-zinc-700 {
    @apply !fill-zinc-700
}

.animate circle,
.animate text,
.animate image {
    transition: all 0.3s;
}

.shake {
    animation: shaking infinite 1.5s linear;
}

@keyframes shaking {
      0% { transform: translate(-5px, 3px) }
      5% { transform: translate(-4px, -3px) }
     10% { transform: translate(-4px, 3px) }
     15% { transform: translate(0px, 0px) }
     20% { transform: translate(-2px, -2px) }
     25% { transform: translate(0px, -1px) }
     30% { transform: translate(1px, 3px) }
     35% { transform: translate(-3px, 1px) }
     40% { transform: translate(2px, -4px) }
     45% { transform: translate(2px, -4px) }
     50% { transform: translate(3px, 4px) }
     55% { transform: translate(4px, 0px) }
     60% { transform: translate(-3px, 0px) }
     65% { transform: translate(4px, 4px) }
     70% { transform: translate(3px, -4px) }
     75% { transform: translate(-3px, -1px) }
     80% { transform: translate(-3px, 1px) }
     85% { transform: translate(-1px, -3px) }
     90% { transform: translate(2px, -1px) }
     95% { transform: translate(-3px, 2px) }
    100% { transform: translate(-5px, 3px) }
}