<svg #svg viewBox="0 0 2000 2000" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xml:space="preserve" xmlns:serif="http://www.serif.com/" style="fill-rule:evenodd;clip-rule:evenodd;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:1.5;" class="max-w-svw max-h-svh mx-auto">
    <!-- Name background-color -->
    <defs>
        <filter x="-0.125" y="-0.125" width="1.25" height="1.25" id="solid">
            <feFlood flood-color="oklch(0.21 0.006 285.885)" result="bg" />
            <feMerge>
                <feMergeNode in="bg" />
                <feMergeNode in="SourceGraphic" />
            </feMerge>
        </filter>
    </defs>

    <path [attr.d]="GetMovementHintArrowPaths()[0]" style="fill:none;stroke:rgb(213,213,213);stroke-width:22.22px;" />
    <path [attr.d]="GetMovementHintArrowPaths()[1]" style="fill:none;stroke:rgb(213,213,213);stroke-width:22.22px;" />
    <path [attr.d]="GetMovementHintPath()" style="fill:none;stroke:rgb(213,213,213);stroke-width:22.22px;stroke-dasharray:32,48,0,0,0,0;" />
    <text class="fill-zinc-300 text-center" filter="url(#solid)" x="600" y="1000" textLength="800">Verschiebe die Personen</text>

    @for (person of EditModePeople(); track person.id; let idx = $index) {
    <g class="shake" [style.animationDelay]="-idx/7+'s'" (mousedown)="grab(person.id, $event)" (touchstart)="grab(person.id, $event)">
        @if (person.characterId) {
        <clipPath [id]="'clip_'+person.id" class="pointer-events-none">
            <circle [attr.cx]="GetEditModeCoordinate(idx).x" [attr.cy]="GetEditModeCoordinate(idx).y" r="100" class="pointer-events-none" />
        </clipPath>
        <g [attr.clip-path]="'url(#clip_' + person.id + ')'">
            <image [attr.href]="'img/' + person.characterId + '.png'" [attr.x]="GetEditModeCoordinate(idx).x - 110" [attr.y]="GetEditModeCoordinate(idx).y - 110" width="220" height="220" />
        </g>
        }

        <text class="fill-zinc-300" filter="url(#solid)" [attr.x]="GetEditModeCoordinate(idx).x + 150" [attr.y]="GetEditModeCoordinate(idx).y + 20">{{person.name}}</text>

        <circle [attr.cx]="GetEditModeCoordinate(idx).x" [attr.cy]="GetEditModeCoordinate(idx).y" r="100" class="ring cursor-pointer fill-transparent transition-all duration-1000" [class.!fill-zinc-700]="!person.characterId" />
    </g>
    }
</svg>