<div class="bg-slate-800 h-[36rem] lg:w-[36rem] w-full p-4 rounded-2xl grid grid-rows-[auto_1fr_auto] gap-2">
    <h1 class="text-zinc-200 text-2xl" i18n="@@dialog-title-information-about-player">Informationen zum Spieler</h1>
    <div class="flex flex-col gap-2 overflow-auto">
        <label class="text-zinc-200" for="name" i18n="@@general-name">Name</label>
        <input class="rounded-md py-3 px-6 text-zinc-100 bg-zinc-500" type="text" name="name" id="name" [(ngModel)]="Person().Name">
        <label class="text-zinc-200 mt-2" for="function" i18n="@@dialog-function">Funktion</label>
        <select class="rounded-md py-3 px-6 text-zinc-100 bg-zinc-500" name="function" id="function" [(ngModel)]="Person().Character">
            <option class="text-zinc-100 bg-zinc-500" [ngValue]="undefined" i18n="@@general-unknown">Unbekannt</option>
            @for (character of GameState.SelectedCharacters; track $index) {
            <option class="text-zinc-100 bg-zinc-500" [ngValue]="character">{{character.Id | i18nSelect: NAME_TRANSLATIONS}}</option>
            }
        </select>
        <label class="text-zinc-200 mt-2" for="StateButtons" i18n="@@dialog-state">Zustand</label>
        <div id="StateButtons" class="grid grid-rows-5">
            <span class="flex gap-4 p-2 bg-zinc-700 rounded-md">
                <input type="checkbox" id="protected" class="w-6 h-6" style="accent-color: orange;" [(ngModel)]="Person().IsProtected">
                <label class="text-zinc-200" for="protected" i18n="@@dialog-is-protected">Geschützt</label>
            </span>
            <span class="flex gap-4 p-2">
                <input type="checkbox" id="victim" class="w-6 h-6" style="accent-color: red;" [(ngModel)]="Person().IsVictim">
                <label class="text-zinc-200" for="victim" i18n="@@dialog-is-victim">Wolfs- / Hexenopfer</label>
            </span>
            <span class="flex gap-4 p-2 bg-zinc-700 rounded-md">
                <input type="checkbox" id="enchanted" class="w-6 h-6" style="accent-color: deepPink;" [(ngModel)]="Person().IsEnchanted">
                <label class="text-zinc-200" for="enchanted" i18n="@@dialog-is-enchanted">Verzaubert</label>
            </span>
            <span class="flex gap-4 p-2">
                <input type="checkbox" id="werewolf" class="w-6 h-6" style="accent-color: black;" [(ngModel)]="Person().IsWerewolf">
                <label class="text-zinc-200" for="werewolf" i18n="@@dialog-is-werewolf">Werwolf (Infiziert / Wildes Kind ohne Vorbild)</label>
            </span>
            <span class="flex gap-4 p-2 bg-zinc-700 rounded-md">
                <input type="checkbox" id="dead" class="w-6 h-6 accent-red-800" [(ngModel)]="Person().IsDead">
                <label class="text-zinc-200" for="dead" i18n="@@dialog-is-dead">Tot</label>
            </span>
        </div>
    </div>
    <button class="text-zinc-200 bg-zinc-500 w-full btn" (click)="Dialog.QuitPersonDialog()">Ok</button>
</div>