<div class="bg-zinc-800 text-zinc-200 shadow-lg fixed top-0 w-full z-50">
    <div class="lg:max-w-(--breakpoint-lg) max-w-(--breakpoint-md) flex mx-auto items-center">
        <a class="p-8" routerLink="/">
            <lucide-angular name="arrow-left" />
        </a>
        <h1 i18n="@@setup-title" class="text-2xl">Vorbereitung</h1>
        <p class="max-sm:hidden ml-auto mr-4" i18n="@@home-title">Werwolf Companion App</p>
        <img src="img/night.png" class="max-sm:ml-auto rounded-lg md-shadow-md w-12 mr-6" alt="Logo">
    </div>
</div>
<div class="flex flex-col mx-auto lg:max-w-(--breakpoint-lg) max-w-(--breakpoint-md) pt-28 px-6 text-zinc-200">
    <div class="grid grid-cols-1 sm:grid-cols-[auto_1fr] md:grid-cols-3 grid-rows-[auto_auto_1fr] gap-y-1 gap-x-4 items-center sm:items-end md:items-start w-full">
        <h2 class="text-xl" i18n="@@spotify-title-beta">Spotify (BETA)</h2>
        <i class="md:row-start-2 text-zinc-500 text-sm" i18n="@@spotify-connect-for-ambient-music">Verbinde Spotify um etwas ambiente in die Runde zu bringen</i>
        <div class="sm:col-span-2 md:row-span-3 max-md:mt-4">
            @if (!spotify.IsAuthenticated) {
            <button class="btn bg-zinc-700 text-zinc-100 w-full flex justify-center gap-2" (click)="spotify.Authenticate()" i18n="@@sporify-connect">Mit Spotify verbinden<lucide-angular name="log-in" /></button>
            } @else {
            <div class="bg-zinc-800 p-4 rounded-md">
                @if (!spotify.CurrentDevice) {
                <span class="flex justify-between items-center">
                    <p class="text-zinc-300 whitespace-nowrap overflow-hidden text-ellipsis" i18n="@@spotify-select-a-device">Wähle ein Gerät aus:</p>
                    <button class="text-zinc-200" (click)="updateDeviceList();" [disabled]="isLoadingDevices()">
                        <div [class.spin-animation]="isLoadingDevices()">
                            <lucide-angular name="refresh-cw" />
                        </div>
                    </button>
                </span>
                <div class="flex flex-col gap-4 pt-4">
                    @for (device of spotify.AvailableDevices; track $index) {
                    <button class="w-full flex justify-start p-2" (click)="setDevice(device)" [disabled]="isSelectingDevice()">
                        <lucide-angular [name]="spotify.getIconOfDevice(device)" />
                        <p class="ml-4">{{device.name}}</p>
                    </button>
                    }
                </div>
                } @else {
                <span class="flex justify-start items-center">
                    <p class="text-zinc-300 whitespace-nowrap overflow-hidden text-ellipsis mr-4" i18n="@@spotify-selected-device">Verbundenes Gerät:</p>
                    <span class="flex items-center py-2 px-4 rounded-full bg-zinc-700">
                        <lucide-angular [name]="spotify.getIconOfDevice(spotify.CurrentDevice)" />
                        <p class="ml-2">{{spotify.CurrentDevice.name}}</p>
                        <button class="text-zinc-200 ml-2" (click)="setDevice(undefined);">
                            <lucide-angular name="x" />
                        </button>
                    </span>
                </span>
                @if (!state.MusicStarted) {
                <button class="btn bg-zinc-700 text-zinc-200 flex w-full justify-center gap-4 mt-4" (click)="startBackgroundMusic()">
                    <p i18n="@@spotify-start-background-music">Hintergrundmusik starten</p>
                    <lucide-angular name="play" />
                </button>
                } @else {
                <i class="mt-4 block text-zinc-400 text-center" i18n="@@spotify-playing-background-music">Spielt Hintergrundmusik ab</i>
                } }
            </div>
            }
        </div>
    </div>
    <hr class="w-full my-6 border-zinc-700" />
    <div class="grid grid-cols-1 sm:grid-cols-[auto_1fr] md:grid-cols-3 grid-rows-[auto_auto_1fr] gap-y-1 gap-x-4 items-center sm:items-end md:items-start w-full">
        <h2 class="text-xl" i18n="@@setup-characters">Charaktere</h2>
        <i class="md:row-start-2 text-zinc-500 text-sm" i18n="@@setup-select-characters">Wähle hier die Charaktere aus mit denen ihr spielt</i>
        <div class="sm:col-span-2 md:row-span-3 max-md:mt-4 grid grid-cols-1 p-4 bg-zinc-800 rounded-md">
            <button class="grid grid-cols-[1fr_auto] grid-rows-[auto_auto] items-center pr-2 gap-y-2" (click)="isCharacterEditorOpen.set(!isCharacterEditorOpen())">
                <p class="text-left text-lg" i18n="@@setup-nr-of-characters">{{state.SelectedCharacters.length}} Charaktere ausgewählt</p>
                <span class="col-start-1 row-start-2 grid overflow-hidden w-full fade-out">
                    @for (character of state.SelectedCharacters; track $index) {
                    <div class="col-start-1 row-start-1 bg-neutral-900 p-1 w-14 h-14 rounded-md shadow-md" [style]="{'transform': 'translateX(' + $index * 1.5 + 'rem)', 'z-index': 100-$index}">
                        <img width="48px" height="48px" [src]="'img/' + character.Id + '.png'" [alt]="character.Id | i18nSelect: NAME_TRANSLATIONS">
                    </div>
                    }
                </span>
                <lucide-angular [name]="isCharacterEditorOpen()?'chevron-up':'chevron-down'" class="row-span-2" />
            </button>
            @if (isCharacterEditorOpen()) {
            <hr class="w-full border-zinc-500 my-4" />
            <span class="flex items-center gap-2">
                <p i18n="@@setup-grouped-by">Gruppieren nach:</p>
                <button class="px-4 py-1 bg-zinc-700 rounded-full ring-amber-500" [class.ring-2]="grouping() === 'group'" (click)="grouping.set('group')" i18n="@@setup-group">Gruppe</button>
                <button class="px-4 py-1 bg-zinc-700 rounded-full ring-amber-500" [class.ring-2]="grouping() === 'game'" (click)="grouping.set('game')" i18n="@@setup-game">Spiel</button>
            </span>
            <div class="flex flex-col">
                @for (group of getCharacterGroup(); track $index) {
                <h3 class="text-lg mt-4">{{group.Name}}</h3>
                <div class="grid grid-cols-2 gap-2">
                    @for (character of group.Cards; track $index) {
                    <div class="bg-zinc-700 p-2 rounded-md grid grid-cols-[4rem_1fr] gap-2 items-center ring-amber-500" [class.ring-2]="state.SelectedCharacters.includes(character)" (click)="toggleCharacterSelection(character)">
                        @if (!character.IsSingle) {
                        <div class="border-4 border-zinc-800 rounded md-shadow-md w-16 h-16 col-start-1 row-start-1 rotate-3"></div>
                        <div class="border-4 border-zinc-900 rounded md-shadow-md w-16 h-16 col-start-1 row-start-1 -rotate-6"></div>
                        }
                        <div class="border-4 border-black rounded md-shadow-md w-16 col-start-1 row-start-1 z-10">
                            <img class="w-16" [src]="'img/' + character.Id + '.png'" [alt]="character.Id | i18nSelect: NAME_TRANSLATIONS">
                        </div>
                        <p class="text-center">{{character.Id | i18nSelect: NAME_TRANSLATIONS}}</p>
                    </div>
                    }
                </div>
                }
            </div>
            }
        </div>
    </div>
    <hr class="w-full my-6 border-zinc-700" />
    <div class="grid grid-cols-1 sm:grid-cols-[auto_1fr] md:grid-cols-3 grid-rows-[auto_auto_1fr] gap-y-1 gap-x-4 items-center sm:items-end md:items-start w-full">
        <h2 class="text-xl" i18n="@@setup-digital-cards">Virtuelle Karten</h2>
        <i class="md:row-start-2 text-zinc-500 text-sm" i18n="@@setup-show-cards-on-smartphone">Zeige die Karten digital direkt auf den Handies der Mitspieler an.</i>
        <div class="sm:col-span-2 md:row-span-3 max-md:mt-4 grid grid-cols-1 p-4 bg-zinc-800 rounded-md">
            <button class="grid grid-cols-[1fr_auto] grid-rows-[auto_auto] items-center pr-2 gap-y-2" (click)="toggleVirtualCards()">
                <p class="text-left text-lg" i18n="@@setup-nr-of-characters">Virtuelle Karten aktiviert</p>
                <div class="w-16 h-8 p-1 bg-zinc-600 rounded-full grid grid-cols-2 gap-2" [class.!bg-green-500]="virtualCardRoom()">
                    <div class="w-6 h-6 rounded-full bg-zinc-400 col-start-1" [class.!col-start-2]="virtualCardRoom()" [class.!bg-zinc-200]="virtualCardRoom()"></div>
                </div>
            </button>
            @if (virtualCardRoom()) {
            <span class="grid grid-cols-[auto_1fr] grid-rows-1 items-center gap-2">
                <p i18n="@@setup-grouped-by">Raum-Code:</p>
                <p class="text-5xl text-center">{{getRoomCode()}}</p>
            </span>
            }
        </div>
    </div>
    <hr class="w-full my-6 border-zinc-700" />
    @if (virtualCardRoom()) {
    <div class="grid grid-cols-1 sm:grid-cols-[auto_1fr] md:grid-cols-3 grid-rows-[auto_auto_1fr] gap-y-1 gap-x-4 items-center sm:items-end md:items-start w-full">
        <h2 class="text-xl" i18n="@@setup-players">Verbundene Spieler</h2>
        <i class="md:row-start-2 text-zinc-500 text-sm" i18n="@@setup-add-players-can-change-later">Sehe hier alle verbundenen Spieler</i>
        <div class="sm:col-span-2 md:row-span-3 max-md:mt-4 grid grid-cols-1 gap-4 p-4 bg-zinc-800 rounded-md">
            <button class="py-2 flex justify-between pr-2" (click)="isPeopleEditorOpen.set(!isPeopleEditorOpen())">
                <p class="text-lg" i18n="@@setup-nr-of-people">{{state.People.length}} Personen</p>
                <lucide-angular [name]="isPeopleEditorOpen()?'chevron-up':'chevron-down'" />
            </button>
            @if (isPeopleEditorOpen()) {
            <hr class="w-full border-zinc-500" />
            @for (person of socket.connectedPeople; track $index) {
            <div class="flex items-center gap-4 p-2">
                <lucide-angular name="circle-user-round" size="32px" />
                <input type="text" [ngModel]="person" placeholder="Unbenannt" i18n-placeholder="@@generic-unnamed" class="w-full">
            </div>
            }
            }
        </div>
    </div>
    } @else {
    <div class="grid grid-cols-1 sm:grid-cols-[auto_1fr] md:grid-cols-3 grid-rows-[auto_auto_1fr] gap-y-1 gap-x-4 items-center sm:items-end md:items-start w-full">
        <h2 class="text-xl" i18n="@@setup-players">Spieler</h2>
        <i class="md:row-start-2 text-zinc-500 text-sm" i18n="@@setup-add-players-can-change-later">Füge Spieler hinzu<br class="max-md:hidden"> (Die Namen und Reihenfolge kannst du auch später ändern)</i>
        <div class="sm:col-span-2 md:row-span-3 max-md:mt-4 grid grid-cols-1 gap-4 p-4 bg-zinc-800 rounded-md">
            <button class="py-2 flex justify-between pr-2" (click)="isPeopleEditorOpen.set(!isPeopleEditorOpen())">
                <p class="text-lg" i18n="@@setup-nr-of-people">{{state.People.length}} Personen</p>
                <lucide-angular [name]="isPeopleEditorOpen()?'chevron-up':'chevron-down'" />
            </button>
            @if (isPeopleEditorOpen()) {
            <hr class="w-full border-zinc-500" />
            @if (state.People.length < 20) { <button (click)="state.addPerson()" class="flex items-center gap-4 border-dashed border-zinc-500 border-2 p-1.5 rounded-md">
                <lucide-angular name="plus" size="32px" />
                <p class="whitespace-nowrap text-ellipsis" i18n="@@generic-add">Hinzufügen</p>
                </button>
                }
                @for (person of state.People; track $index) {
                <div class="flex items-center gap-4 p-2">
                    <lucide-angular name="circle-user-round" size="32px" />
                    <input type="text" [(ngModel)]="person.Name" placeholder="Unbenannt" i18n-placeholder="@@generic-unnamed" class="w-full">
                    <button (click)="state.removePerson(person)" class="text-red-400">
                        <lucide-angular name="trash-2" />
                    </button>
                </div>
                }
                }
        </div>
    </div>
    }
    <hr class="w-full my-6 border-zinc-700" />
    <div class="flex mb-6">
        <button class="btn bg-zinc-700 text-zinc-200 w-full flex gap-2 justify-center" (click)="startGame()" i18n="@@setup-start-game">Spiel starten<lucide-angular name="arrow-right" /> </button>
    </div>
</div>