<div class="fixed top-0 left-0 w-full h-20 bg-gray-700 flex items-center p-4 text-white z-50 shadow-md">
    <a class="w-16 h-16 flex justify-center items-center text-lg" routerLink="/setup">←</a>
    <h1 class="text-lg" i18n="@@cards-cards-selected">{{GetSelectedCardsCount()}} Karten ausgewählt</h1>
</div>
<div class="p-8 mt-14">
    @for (role of Roles; track $index) {
    <h1 class="text-gray-200 text-xl mt-4 mb-2">{{role.Name}}</h1>
    <div class="flex flex-wrap gap-4">
        @for (card of role.Cards; track $index) {
        <app-card [Card]="card" (SelectionChanged)="HandleSelectionStateChange(card, $event)"></app-card>
        }
    </div>
    }
</div>