<div class="w-full h-svh grid grid-rows-[1fr_auto]">
    <div class="flex mt-32 justify-center">
        <div class="flex flex-col items-center">
            <img src="/assets/icons/night.png" class="rounded-md md-shadow-md w-32 mb-4" alt="Welcome">
            <h1 class="text-center text-gray-200 text-2xl">Werwolf Companion App</h1>
            <a routerLink="/setup" class="btn bg-gray-500 mt-4 block text-center">Neues Spiel starten</a>
        </div>
    </div>
    <div class="bg-slate-700 flex flex-col gap-4 items-center p-4">
        <p class="text-gray-200">Erstellt mit ❤️ by Alex Romberg</p>
        <a class="text-blue-200" href="https://github.com/AlexRomberg/Werewolf">Github</a>
        <hr class="w-16 border-none h-px bg-slate-200">
        <p class="text-gray-500 text-xs">Diese App ist eine inoffizielle Begleit-App für das Spiel "Die Werwölfe von Düsterwald" und steht in keiner Verbindung zu lui-même, Asmodee oder den ursprünglichen Erstellern des Spiels und wird von diesen nicht auch unterstützt. Alle Bilder, Charaktere und das geistige Eigentum, dass in dieser App verwendet wird, unterliegen dem Copyright von lui-même. Die Bilder und Inhalte werden ausschließlich für die nicht-kommerzielle Nutzung durch Fans zur Verfügung gestellt.</p>
    </div>
</div>