<div class="w-full grid grid_rows-[auto_1fr] gap-4">
    <button (click)="isClosed.set(!isClosed())" class="grid grid-cols-[auto_auto_1fr] gap-4 items-center w-full">
        <h1 class="text-zinc-200 text-2xl">{{title()}}</h1>
        <i class="text-zinc-400 text-sm whitespace-nowrap overflow-hidden text-ellipsis">{{isClosed() ? summary() : ''}}</i>
        <span class="flex gap-2 ml-auto">
            @if (secondIcon() && !isClosed()) {
            <button (click)="secondIconPressedEvent.emit(); $event.stopPropagation()">
                <lucide-angular [name]="secondIcon()" class="text-zinc-200" />
            </button>
            }
            <lucide-angular [name]="(flipIcon() ? !isClosed() : isClosed())  ? 'chevron-down':'chevron-up'" class="text-zinc-200" />
        </span>
    </button>
    <div class="hidden" [class.hidden]="isClosed()">
        <ng-content></ng-content>
    </div>
</div>