<div class="w-full h-dvh flex justify-center items-center">
    <div>
        <img src="img/spotify_connected.png" alt="Spotify connected!" class="max-w-full w-64 mx-auto">
        <h1 class="text-center text-zinc-200 text-2xl mt-8" i18n="@@spotify-connected-success">Spotify verbunden!</h1>
        <a routerLink="/setup" class="btn bg-zinc-500 mt-8 text-center flex" i18n="@@general-back-to-overview">
            <lucide-angular name="arrow-left" class="mr-2" />
            Zurück zur Übersicht
        </a>
    </div>
</div>