@if (Dialog.DialogData && Dialog.DialogData.type === DialogTypes.PeopleSelection) {
<div class="bg-zinc-800 p-4 rounded-2xl grid grid-rows-[auto_1fr_auto] gap-2 max-h-[calc(100dvh_-_var(--spacing)_*_14)]">
    <span class="grid grid-cols-[1fr_auto]">
        <h1 class="text-zinc-200 text-2xl">{{Dialog.DialogData.data.title}}</h1>
        <button class="btn !px-3" (click)="Dialog.RejectDialog()">
            <lucide-angular name="x"></lucide-angular>
        </button>
    </span>
    <div class="self-center bg-zinc-900 grid h-full rounded-lg dialog-svg overflow-hidden">
        <app-circle [People]="Dialog.DialogData.data.people" (PersonClick)="OnPersonSelected($event)"></app-circle>
    </div>
    <span class="grid grid-cols-2 gap-2">
        <button class="text-zinc-200 bg-zinc-500 w-full btn" (click)="Dialog.RejectDialog()" i18n="@@general-abort">Abbrechen</button>
        <button [class.bg-zinc-600]="!PeopleDialogSelectionValid()" [disabled]="!PeopleDialogSelectionValid()" class="text-zinc-200 bg-zinc-500 w-full btn" (click)="ConfirmDialog()" i18n="@@general-ok">Ok</button>
    </span>
</div>
}