@import 'tailwindcss';

html, body {
    @apply h-full w-full overflow-auto;
}

.btn {
    @apply rounded-md py-3 px-6 text-zinc-100 font-bold;
    touch-action: manipulation;
}

.btn:disabled {
    @apply text-zinc-300;
}

html {
    @apply bg-zinc-900;
    overscroll-behavior: none;
}

.md-shadow-sm {
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}

.md-shadow-md {
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}

.dialog-svg svg {
    max-width: calc(100dvw - var(--spacing) * 16) !important;
    max-height: calc(100dvh - var(--spacing) * 50) !important;
}