* {
    --bg-color: rgb(31 41 55)
}

.person {
    @apply fill-gray-700;
    stroke-width: 10px;
}

text {
    @apply fill-gray-300;
    font-family: 'ArialMT', 'Arial', sans-serif;
    font-size:66.667px;
}